---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Izac Carmona</title>
	</head>
	<body>
		<h1>Astro - Izac Carmona</h1>
		<h2>Netflify</h2>
<p>It is easy to publish with Astro using Netflify</p>
<p>Localhost and Online Publishing</p>
	</body>
</html>
