---
import "../styles/global.css";
import PageHeader from "../components/PageHeader.astro";	
import PageFooter from "../components/PageFooter.astro";
import PageContent from "../components/PageContent.astro";
import Semesters from "../components/Semesters.astro";
import Features from "../components/Features.astro";
import Showcase from "../components/Showcase.astro";
---

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>Theme Build For Astro</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body>
<!--
pageheader  .
showcase
features    . 
semesters   . 
pagefooter  . 
-->

<PageHeader />

<Showcase />

<Features />

<PageContent />

<Semesters />

<PageFooter />
</body>
</html> 