---
import "../styles/global.css";
import PageHeader from "../components/PageHeader.astro";	
import PageFooter from "../components/PageFooter.astro";
import PageContent from "../components/PageContent.astro";
import Semesters from "../components/Semesters.astro";
import Features from "../components/Features.astro";
---

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>Theme Build For Astro</title>
</head>
<body>
<!--
pageheader  .
showcase
features    . 
semesters   . 
pagefooter  . 
-->

<PageHeader />
<!-- begin showcase -->
<section id="showcase">showcase</section>
<!-- End Showcase -->

<Features />

<PageContent />

<Semesters />

<PageFooter />
</body>
</html> 