---

---


<!-- Features -->

<style>

    /* Features Section*/
#features .container
{
background-color: #1C1D1E;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	flex-direction: column;
}
.card
{
	background-color: #171A1B;
	padding: 2rem;
	box-shadow: 0rem 0rem 10px silver;
	margin-bottom: 2rem;
	flex-basis: 28%;
	box-shadow: 0px 10px 30px 10px white;
}
/* end features sectiosn styles */
</style>

<section id="features">
    <div class="container">
        <!-- cards -->
        <!-- cards 1 -->
        <div class="card">
            <h3>Career</h3>
            <p>Review my Career documents including my resume, cover letter, and job applications</p>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <h3>Design</h3>
            <p>Review my website designs and image creations </p>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <h3>Programming</h3>
            <p>Review my JavaScript applications.</p>
        </div>
    </div>
    <!-- End container -->
</section>
<!-- End Features Section -->