<!-- Features -->
<section id="features">
    <div class="container">
        <!-- cards -->
        <!-- cards 1 -->
        <div class="card">
            <h3>Career</h3>
            <p>Review my Career documents including my resume, cover letter, and job applications</p>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <h3>Design</h3>
            <p>Review my website designs and image creations </p>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <h3>Programming</h3>
            <p>Review my JavaScript applications.</p>
        </div>
    </div>
    <!-- End container -->
</section>
<!-- End Features Section -->