<!-- Page Content section-->
<div id="pagecontent">
<div class="container">
    <h2>Introduction</h2>
    <p>My name is Izac Carmona. I am a web developer based in coalinga, California. I enjoy Technology and I love to learn about science, math, and underwater basket weaving. I am also about to complete the web Technologies pathway in Coalinga High School.
    </p>
    <h3>Career</h3>
    <p>My goal is to become a data scientist. My goal is to utilize my passion for math and Technology</p>
    <h3>design</h3>
    <p>Over ther last two years I have been learning javaScript. I have found it intresting and challenging. I especially enjoyed using javaScript with the HTML canvas element  </p>
</div>
<!-- End  pagecontent container -->
</div>
<!-- end pagecontent section -->