<!-- Footer Section -->
<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                When I was young, I thought that money was the most important thing in life; now that i am old, I know that it is. - Oscar Wilde
            </blockquote>
        </div>

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>
        <!-- End footer links -->
    </div>
        <!-- End quote -->
</footer>
<!-- End footer section -->