<!-- Header Selction -->
<header id="pageheader">
    <div class="container">
        <div class="logo">
            <img src="/images/trasnspider.png" alt="koi9 fish logo">
        </div>

        <nav>
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
    </div>
    <!-- End Header -->
</header>
