<!-- Semesters  section--> 
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">

                <a href="https://chsserver01.org/2023/icarmona062023/Activities/PaintbrushProtypeV1/paintbrushv1.html" 
                data-tooltip="Paintbrush Protype V1">
                    <img src="/images/pv1.png" alt="VS Code " class="thumb">
                </a>

                <a href="https://chsserver01.org/2023/icarmona062023/Demos/ArraysReview/arraysreviewforeach.html" 
                data-tooltip="Random Fruit Generator">
                <img src="/images/randomfruit.png" alt="Git " class="thumb">
            </a>

                <a href="https://chsserver01.org/2023/icarmona062023/Demos/CSSVariables/cssvariables.html" 
                data-tooltip="Terminal Assignment">
                <img src="/images/variable.png" alt="Markdown" class="thumb">
            </a>

                <a href="https://chsserver01.org/2023/icarmona062023/Demos/KeyAssignments/keyassignments.html" 
                data-tooltip="Key Assignments Tooltip Demo">
                <img src="/images/key.png" alt="JavaScript" class="thumb">
            </a>

                <a href="https://chsserver01.org/2023/icarmona062023/Demos/PseudoElements/PseudoElementsDataAttributes/pseudoelementsdataattributes.html" data-tooltip="Pseudo Elements and Data Attributes">
                <img src="/images/Elements.png" alt="PhotoShop" class="thumb">
            </a>
            
                <a href="https://chsserver01.org/2023/icarmona062023/Demos/CSSVariables/cssvariables.html" 
                data-tooltip="PaintBrush Prototype">
                <img src="/images/css.png" alt="Github" class="thumb">
            </a>
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="#" target="new">Canvas</a></li>
            <li><a href="#" target="new">Canvas Drawing 1</a></li>
            <li><a href="#" target="new">Canvas Drawing 2</a></li>
            <li><a href="#" target="new">Array Practices</a></li>
        </ul>
        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="#" target="new"></a></li>
            <li><a href="#" target="new">PaintBrush Prototype</a></li>
            <li><a href="#" target="new">Key Assignments Tooltip Demo</a></li>
            <li><a href="#" target="new">Paintbrush Protype V1</a></li>
        </ul>
    </div>
    <!-- End semester container -->
</section>
<!-- End semesters section -->