<!-- Semesters  section--> 
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <img src="images/thumbnail.gif" alt="VS Code " class="thumb">
                <img src="images/thumbnail.gif" alt="Git " class="thumb">
                <img src="images/thumbnail.gif" alt="Markdown" class="thumb">
                <img src="images/thumbnail.gif" alt="JavaScript" class="thumb">
                <img src="images/thumbnail.gif" alt="PhotoShop" class="thumb">
                <img src="images/thumbnail.gif" alt="Github" class="thumb">
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="#" target="new">A001 - Description</a></li>
            <li><a href="#" target="new">A002 - Description</a></li>
            <li><a href="#" target="new">A003 - Description</a></li>
            <li><a href="#" target="new">A004 - Description</a></li>
        </ul>
        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="#" target="new">A005 - Description</a></li>
            <li><a href="#" target="new">A006 - Description</a></li>
            <li><a href="#" target="new">A007 - Description</a></li>
            <li><a href="#" target="new">A008 - Description</a></li>
        </ul>
    </div>
    <!-- End semester container -->
</section>
<!-- End semesters section -->