<!-- Showcase -->
<section id="showcase">
    <div id="showcasetext">
        <h1>Izac Carmona</h1>
        <h2>Portfolio</h2>
        <blockquote>It always seems  imposible until it is done</blockquote>
    </div>

    <div id="showcaseimage">
        <img src="images/technologiesbig.png" alt="Technologies" id="logobig">
        <img src="images/technologiessmall.png" alt="Technologies" id="logosmall">
    </div>

    <p id="showcaseintro">
        This  is a showcase of my design/development work.
    </p>
</section>
<!-- End showcaswe section -->