---

---


<!-- Showcase -->

<style>

#showcase 
	{
		padding: 30px;
		background-image: url(/images/Spiderain.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 500px;
		background-attachment: fixed;
		background-position: center top;
	}

	#showcasetext
	{
		color: white;
		text-align: center;
		margin: 50px auto;
		max-width: 500px;
	}

	#showcase h1
	{
		font-size: 50px;
		margin-bottom: 2rem;
	}
	#showcase blockquote
	{
		font-size: 1.9rem;
		margin-bottom: 2rem
	}

	blockquote::before
	{
		font-size: 61px;
		background-color: none;
		content: "“";
	}

	blockquote::after
	{
		font-size: 64px;
		background-color: none;
		content: "”";
	}

	[data-source]
	{
		color: white;
	}









	#showcaseimage
	{
		text-align: center;
		background-color: none;
	}
	#showecaseimage img
	{
		border-radius: 1rem;
		margin: 0 auto;
	}
	#showcaseintro
	{
		color: white;
		text-align: center;
		font-size: 3rem;
	}

/* Hide big logos/technologies for mobile */
#logobig
{
	display: none;
	background-color:red;
}
#logosmall
{
	width: 30rem;
	background-color: red;
}
/* end of showcase section styles */
</style>
<section id="showcase">
    <div id="showcasetext">
        <h1>Izac Carmona</h1>
        <h2>Portfolio</h2>
        <blockquote data-source=" Elenor Roosevelt">Action speaks louder than words but not nearly as often. - Mark Twain</blockquote>
    </div>

    <!-- <div id="showcaseimage">
        <img src="/public/images/technologiesbig.png" alt="Technologies" id="logobig">
        <img src="/public/images/technologiessmall.png" alt="Technologies" id="logosmall">
    </div> -->

    <p id="showcaseintro">
        This  is a showcase of my design/development work.
    </p>
</section>
<!-- End showcaswe section -->