<!-- Showcase -->
<section id="showcase">
    <div id="showcasetext">
        <h1>Izac Carmona</h1>
        <h2>Portfolio</h2>
        <blockquote data-source=" Elenor Roosevelt">Action speaks louder than words but not nearly as often. - Mark Twain</blockquote>
    </div>

    <!-- <div id="showcaseimage">
        <img src="/public/images/technologiesbig.png" alt="Technologies" id="logobig">
        <img src="/public/images/technologiessmall.png" alt="Technologies" id="logosmall">
    </div> -->

    <p id="showcaseintro">
        This  is a showcase of my design/development work.
    </p>
</section>
<!-- End showcaswe section -->